footer {
    width: 100%;
    height: 225px;
    background-color: #f4f4f4;
    .copyright {
        width: 294px;
        height: 18px;
        color: #666666;
        font-family: Montserrat;
        font-size: 18px;
        text-align: left;
        font-weight: 600;
        letter-spacing: -0.2px;
        margin: 90px 0 0 -30px;
    }
    .footer__email {
        width: 238px;
        color: #666666;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        position: absolute;
        margin: 58px 0 0 688px;
    }
    .contact__form {
        margin: -25px 0 0 -2px;
        display: flex;
        position: absolute;
        input {
            width: 311px;
            height: 48px;
            border-radius: 5px;
            border: 1px solid #a3a3a3;
            background-color: #f4f4f4;
        }
        button {
            margin: 24px 0 0 5px;
            width: 101px;
            height: 48px;
            border-radius: 5px;
            background-color: #f06464;
            border: none;
            color: #fff;
            :hover {
                background-color: #f3b2b2;
                color: #fff;
            }
        }
    }
}
